.App {
  text-align: center;
}

body {
  background-color: #fff;
}
#text {
  font-family: Helvetica;
}
#text-item {
  color: #073642;
  font-family: Helvetica;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
p {
  text-align: center;
  color: #387780;
  font-family: Helvetica;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.header {
  font-size: 6em;
  color: #073642;
  font-family: Helvetica;
}
.main {
  text-align: left;
  font-size: 2em;
  color: #387780;
  font-family: Helvetica;
}
.sub-button {
  background: #eee8d5;
  font-size: 2em;
  color: #002b36;
  font-family: Helvetica;
}
.return-button {
  background: #ffaa33;
  font-size: 2em;
  color: #002b36;
  font-family: Helvetica;
}
@media all and (min-width: 600px) {
  .button {
    flex: 1 0 0;
  }
}

@media all and (max-width: 500px) {
  .header {
    font-size: 4em;
  }
  .main {
    font-size: 1em;
  }
  .sub-button {
    font-size: 1em;
  }
}

@media all and (min-width: 800px) {
  .header {
    font-size: 6em;
  }
  .main {
    flex: 3 0px;
  }
  .main {
    order: 1;
  }
  .sub-button {
    order: 2;
  }
}
